<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525640518827-0n6sk3apv3o4tgforskl2fhugo2i3dnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525640518827-0n6sk3apv3o4tgforskl2fhugo2i3dnp</string>
	<key>API_KEY</key>
	<string>AIzaSyCtDe3Nr5jjR6V1cK7HUbvk7Jty9ZLHJPE</string>
	<key>GCM_SENDER_ID</key>
	<string>525640518827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.js.homebody</string>
	<key>PROJECT_ID</key>
	<string>homebody-ee73d</string>
	<key>STORAGE_BUCKET</key>
	<string>homebody-ee73d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525640518827:ios:92cf80c53155bd1dbf7bee</string>
</dict>
</plist>